:root {
    --dark_blue: #041D4D;
    --purple_blue: #2D4169;
    --deep_gray_blue: #4465A7;
    --light_gray_blue: #95C7EB;
    --azure: #0085FF;
    --light_blue: #A6DAFF;
    --white_blue: #D5ECFE;
    --dark_green: #015013;
    --dark_red: #5E0606;
    --background: #F8F8F8;
}

@font-face {
    font-family: 'Karla';
}

@font-face {
    font-family: 'Montserrat';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ul li {
    list-style: none;
}

a, a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
}

textarea {
    resize: none
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

.wrap {
    max-width: 1160px;
    margin: 0 auto;
}

header {
    background-color: var(--background);
}

.header-wrap {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 74px;
    width: 110px;
    height: 62px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.menu {
    margin-top: 110px;
}

.menu li {
    max-width: 100px;
    color: var(--dark_blue);
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.menu a {
    color: var(--dark_blue);
    font-family: 'Karla';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.menu ul {
    display: flex;
    gap: 15px;
}

.menu__item_drop-down img {
    margin-left: 5px;
}

.form-search {
    margin-top: 87px;
    display: flex;
    position: relative;
}

.form-search__input {
    width: 323px;
    height: 53px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #8194A6;
    background: #FFF;
    transition: all .2s ease;

}

/*.form-search__input:focus{*/
/*    width: 824px;*/
/*}*/
.menu-block {
    display: none;
}

.search-aaa {
    width: 824px;
}

.form-search__img {
    width: 24px;
    height: 25px;
    position: absolute;
    top: 13px;
    right: 20px;
}

.form-search__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contacts {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.contacts__number {
    display: flex;
}

.contacts__number a {
    color: var(--purple_blue);
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.contacts__img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.contacts__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contacts__button a {
    color: var(--dark_blue);
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.contacts-icons {
    display: flex;
    gap: 15px;
}

.contacts-icons__item {
    width: 30px;
    height: 30px;
}

.contacts-icons__item img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.line {
    margin-top: 17px;
    border: 1px solid #8A97B3;;
}

.banner-wrap {
    margin: 0 auto;
    max-width: 1040px;
    margin-top: 100px;
    background-color: var(--white_blue);
    border-radius: 10px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.banner-wrap-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.banner-wrap-left__title {
    max-width: 485px;
    color: var(--dark_blue);
    font-family: Karma;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.banner-wrap-left__information {
    max-width: 420px;
    color: var(--purple_blue);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.banner-wrap-left__description {
    display: flex;
    gap: 10px;
}

.banner-wrap-left__img {
    width: 78px;
    height: 71px;
}

.banner-wrap-left__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.banner-wrap-left__description-title {
    max-width: 345px;
    color: var(--purple_blue);
    font-family: Karma;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
}

.banner-wrap-right {
    width: 338px;
    height: 320px;
}

.banner-wrap-right img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.banner-contacts {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.banner-contacts .contacts-icons__item {
    width: 62px;
    height: 62px;
}

.banner-contacts .contacts-icons__item img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.banner-contacts .contacts-icons {
    display: flex;
    gap: 20px;
}

.banner-contacts__phone {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.banner-contacts__buttom {
    padding: 5px 20px;
    border-radius: 10px;
    background: var(--light_blue);
    color: var(--dark_blue);
    text-align: center;
    font-family: Karma;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 125% */
}

.banner-contacts__number {
    margin-top: 2px;
    display: flex;
    align-items: center;
}

.banner-contacts__number a {
    color: var(--purple_blue);
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.advantages-wrap {
    padding: 100px 0px;
}

.advantages-wrap__title {
    color: var(--dark_blue);
    font-family: Karla;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.advantages-cards {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 40px;
    /*justify-content: space-around;*/
}

.advantages-cards__img {
    width: 140px;
    height: 136px;
}

.advantages-cards__img img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.advantages-cards__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages-cards__title {
    max-width: 160px;
    margin-top: 20px;
    color: var(--dark_blue);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.advantages-cards__description {
    margin-top: 10px;
    white-space: pre-line;
    max-width: 235px;
    color: var(--purple_blue);
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.accept-wrap {
    padding-bottom: 100px;
}

.accept-wrap-title {
    color: var(--dark_blue);
    font-family: Karla;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.acceptance-conditions {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    /*gap: 280px;*/
}

.accept-approval, .accept-rejection {
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.accept-approval__title, .accept-rejection__title {
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.accept-approval__title {
    color: var(--dark_green);
    margin-bottom: 30px;
}

.accept-rejection__title {
    color: var(--dark_red);
    margin-bottom: 33px;
}

.accept-approval__items, .accept-rejection__items {
    display: flex;
}

.accept-approval__img {
    width: 23px;
    height: 29px;
    margin-right: 9px;
}

.accept-approval__img img, .accept-rejection__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.accept-rejection__img {
    width: 26px;
    height: 26px;
    margin-right: 5px;
}

.accept-rejection__item {
    text-decoration: line-through;
}

.accept-rejection__item, .accept-approval__item {
    max-width: 430px;
    color: var(--purple_blue);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.accept-more {
    margin-top: 30px;
}

.accept-more a {
    padding: 0;
    color: var(--purple_blue);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-bottom: 1px solid;
    /*text-decoration-line: underline;*/

}

.benefit-wrap {
    padding-bottom: 100px;
}

.benefit-wrap__title {
    color: var(--dark_blue);
    font-family: Karla;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.benefit-cards {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 0px;
}

.benefit-cards__item {
    display: flex;
    align-items: flex-end;
    gap: 40px;
}

.benefit-cards__img {
    width: 160px;
    height: 142px;
}

.benefit-cards__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.benefit-cards__title {
    color: var(--purple_blue);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.benefit-cards__description {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.benefit-cards__info {
    max-width: 330px;
    display: flex;
    color: var(--purple_blue);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.benefit-cards__description_right {
    text-align: right;
}

.purchase {
    background: var(--white_blue);
    margin-bottom: 100px;
}

.purchase-wrap {
    padding: 100px 0px;
}

.purchase-wrap__title {
    color: var(--dark_blue);
    font-family: Karla;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.purchase-cards {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
}

.purchase-cards__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    white-space: pre-line;
}

.purchase-cards__img {
    width: 413px;
    height: 315px;
}

.purchase-cards__img img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.purchase-cards__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.purchase-cards__info_right {
    display: flex;
    text-align: right;
    align-items: flex-end;
}

.purchase-cards__title {
    max-width: 370px;
    color: var(--dark_blue);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.purchase-cards__description {
    width: 450px;
    color: var(--purple_blue);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.cartridge-brands-wrap {
    padding-bottom: 100px;
}

.cartridge-brands-wrap__title {
    color: var(--dark_blue);
    font-family: Karla;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cartridge-cards {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.cartridge-cards-item:first-child {
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(4, 29, 77, 0.20) 0%, rgba(4, 29, 77, 0.00) 100%), #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cartridge-cards-item {
    width: 199px;
    height: 173px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.cartridge-cards-item img {
display: block;
width: 100%;
height: 100%;
object-fit: contain;
object-position: center;
vertical-align: baseline;
    outline: 1px solid red;
}

.application {
    padding-bottom: 100px;
}

.application-wrap {
    padding: 40px;
    border-radius: 10px;
    background: var(--white_blue);
}

.application-form {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.application-form__info{
    display: flex;
}
.application-form__title {
    width: 350px;
    color: var(--dark_blue);
    font-family: Karla;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.application-form__description {
    display: flex;
    align-items: flex-end;
    text-align: left;
    width: 590px;
    color: var(--purple_blue);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.application-form__name, .application-form__phone,
.application-form__email, .application-form__region,
.application-form__proposal {
    border-radius: 10px;
    border: 1px solid #A29C9C;
    background: #E9E9E9;
    width: 525px;
    height: 70px;
    color: #A29C9C;
    font-family: Lohit Devanagari;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 0px 0px 18px;
}

.application-form__proposal {
    width: 525px;
    padding-top: 18px;
    height: 188px;
    vertical-align: top;
}

input::placeholder, textarea::placeholder {
    color: #A29C9C;
    font-family: Lohit Devanagari;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.application-form__file {
    display: flex;
    justify-content: space-between;
    width: 525px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid #A29C9C;
    background: #E9E9E9;
    text-align: center;
}

.application-form__proposal_left {
    padding: 18px 0 0 18px;
    color: #A29C9C;
    font-family: Lohit Devanagari;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.application-form__proposal_right {
    padding: 19px 65px 0 64px;
    color: var(--dark_blue);
    text-align: center;
    font-family: Karla;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 225px;
    border-radius: 8px;
    background: var(--light_blue);
}

.application-form__button {
    margin-top: 30px;
    width: 525px;
    height: 88px;
    border-radius: 10px;
    background: var(--light_blue);
    color: var(--dark_blue);
    text-align: center;
    font-family: Karla;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.application-form__button input {
    height: 100%;
    color: var(--dark_blue);
    text-align: center;
    font-family: Karla;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about-wrap__title {
    color: var(--dark_blue);
    font-family: Karla;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about-wrap {
    padding-bottom: 100px;
}

.about-wrap__info {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 19px;
    color: var(--purple_blue);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.about-wrap__info div{
    max-width: 1110px;
    white-space: pre-line;
}
/*.about-wrap__info div:nth-child(1) {*/
/*    max-width: 681px;*/
/*    white-space: pre-line;*/
/*}*/

/*.about-wrap__info div:nth-child(2) {*/
/*    max-width: 1010px;*/
/*    white-space: pre-line;*/
/*}*/

/*.about-wrap__info div:nth-child(3) {*/
/*    max-width: 1110px;*/
/*    white-space: pre-line;*/
/*}*/

.rating {
    padding-bottom: 100px;
}

.rating-wrap {
    display: flex;
    justify-content: space-between;
}

.rating-wrap__title {
    color: var(--dark_blue);
    font-family: Karla;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.rating-wrap__info {
    display: flex;
}

.rating-wrap__img {
    margin-right: 3px;
    width: 19px;
    height: 23px;
}

.rating-wrap__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.rating-wrap__description {
    width: 341px;
    color: var(--purple_blue);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

.rating-slider {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.rating-slider__items {
    display: flex;
    gap: 50px;
}

.prev, .next {
    position: static;
    width: 60px;
    height: 68px;
    background: var(--light_blue);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 15px 16px;
}

.prev img, .next img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.rating-slider__item {
    width: 300px;
    height: 349px;
    min-height: 349px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    background: #D9D9D9;
}

.slider-wrap {
    width: 1000px;
    margin: 0 auto;
}

.slick-track {
    display: flex;
    width: 1000px;
}

.slick-initialized .slick-slide {
    display: flex;
}

.slick-track .slick-slide {
    display: flex;
    height: 349px;

}

.slick-slide {
    width: 300px;
    margin-right: 50px;

}

.slick-arrow.slick-hidden {
    display: flex;
}

.rating-slider__title {
    margin-top: 20px;
    color: var(--dark_blue);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.rating-slider__description {
    margin-top: 20px;
    white-space: pre-line;
    color: var(--purple_blue);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.articles {
    padding-bottom: 100px;
}

.articles-title {
    color: var(--dark_blue);
    font-family: Karla;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.articles-cards {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.articles-cards__item {
    position: relative;
    width: 359px;
    height: 288px;
    border-radius: 10px;
    /*background: linear-gradient(1deg, #041D4D 0%, #041D4D 0.01%, rgba(4, 29, 77, 0.50) 48.54%, rgba(4, 29, 77, 0.00) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;*/

}

.articles-cards__item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.articles-cards__opacity {
    /*z-index: 1;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgb(4, 29, 77);
    background: linear-gradient(1deg, rgba(4, 29, 77, 1) 0%, rgba(4, 29, 77, 0.4908088235294118) 67%, rgba(4, 29, 77, 0) 98%);
}

.articles-cards__info {
    /*z-index: 2;*/
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    gap: 10px;
}

.articles-cards__title {
    display: flex;
    align-items: center;
    color: #FFFCFC;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.articles-cards__description {
    color: #FFFCFC;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.feedback {
    padding-bottom: 100px;
}

.feedback-form__title {
    color: var(--dark_blue);
    font-family: Karla;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.feedback-form {
    display: flex;
    flex-wrap: wrap;
    /*gap: 15px 29px;*/
}
.feedback-form__input{
    display: flex;
    margin-top: 15px;
    gap: 29px;
}

.feedback-form__description {
    margin-top: 50px;
    width: 1120px;
    color: var(--dark_blue);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.feedback-form__name, .feedback-form__number {
    width: 367px;
    height: 70px;
    padding-left: 13px;
    border-radius: 10px;
    border: 1px solid #8194A6;
    background: #E9E9E9;
}

input {
    color: var(--dark_blue);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.feedback-form__button {
    width: 367px;
    height: 70px;
    border-radius: 10px;
    background: var(--light_blue);
    text-align: center;
    padding: 21px 0;
}

.feedback-form__button input {
    color: var(--dark_blue);
    text-align: center;
    font-family: Karla;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

footer {
    background: var(--light_blue);
    padding: 40px 0px;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer-line__one,
.footer-line__two{
    width: 1px;
    height: 387px;
    background: #8194A6;
}

.footer-navigation {
    width: 268px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px 74px;
    height: 245px;
}

.footer-navigation li {
    color: var(--dark_blue);
    font-family: Karla;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 100px;
}

.footer-politics {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-politics a {
    max-width: 269px;
    color: var(--purple_blue);
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%; /* 30px */
    text-decoration-line: underline;
}

.footer-cartridges {
    width: 380px;
}

.footer-cartridges__title {
    color: var(--dark_blue);
    font-family: Karla;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer-cartridges__navigation {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px 100px;
    height: 245px;
}

.footer-cartridges__navigation li {
    color: var(--dark_blue);
    font-family: Karla;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer-info {
    width: 202px;
}

.footer-info__description {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-info__description .logo {
    margin: 0;
}

.footer-info__title, .footer-info__address, .footer-info__mode {
    color: var(--purple_blue);
    text-align: right;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 145px;
    white-space: pre-line;
}

.footer-info__title {
    margin-top: 20px;
}

.footer-info__address {
    margin-top: 20px;
}

.footer-info__mode {
    margin-top: 5px;
}

.footer-contacts {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-contacts .contacts__button {
    margin-top: 10px;
}

.footer-contacts .contacts-icons {
    margin-top: 20px;
}

.footer-contacts__mail {
    margin-top: 20px;
}

.footer-contacts__mail a {
    color: var(--purple_blue);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}

.pages-name {
    display: flex;
    margin: 100px 0px 50px 0px;
}

.pages-name a {
    color: var(--purple_blue);
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.price-info {
    padding-bottom: 100px;
}

.price-info__title {
    color: var(--dark_blue);
    font-family: Karla;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.price-info__description {
    margin-top: 50px;
    color: var(--purple_blue);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.useful-articles {
    padding-bottom: 30px;
}

.useful-articles__title {
    color: var(--dark_blue);
    font-family: Karla;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.useful-articles__description {
    margin-top: 30px;
    white-space: pre-line;
    color: var(--purple_blue);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.article-block-wrap {
    padding-bottom: 100px;
}

.article-block__title {
    color: var(--dark_blue);
    font-family: Karla;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.article-block__img {
    margin-top: 75px;
    width: 1160px;
    height: 402px;
}

.article-block__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.article-block__description {
    margin-top: 25px;
    white-space: pre-line;
    color: var(--dark_blue);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.article-block-info__heading {
    margin-top: 40px;
    white-space: pre-line;
    color: var(--dark_blue);
    font-family: Karla;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.article-block-info__description {
    margin-top: 25px;
    white-space: pre-line;
    color: var(--dark_blue);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.contacts-contact {
    padding-bottom: 100px;
}

.contacts-contact-wrap {
    margin-top: 50px;
    display: flex;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
    gap: 25px 60px;
}

.contacts-contact__title{
    color: var(--dark_blue);
    font-family: Karla;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contacts-contacts-item {
    display: flex;
    justify-content: space-between;
}

.contacts-contacts-item__img {
    width: 25px;
    height: 25px;
    margin-right: 12px;
}

.contacts-contacts-item__img img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.contacts-contacts-item__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts-contacts-item__title {
    display: flex;
    color: var(--dark_blue);
    font-family: Karla;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contacts-contacts-item__description {
    max-width: 480px;
    padding-left: 32px;
    color: var(--purple_blue);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.contacts-contact-icons .contacts-icons__item {
    width: 69px;
    height: 69px;
}

.contacts-contact-icons .contacts-icons {
    gap: 30px;
}

.contacts-icons__item:hover {
    opacity: 50%;
}

.location-img {
    padding-bottom: 50px;
}

.location-imt__title {
    color: var(--dark_blue);
    font-family: Karla;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.location-img-cards {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.location-img-cards__item {
    width: 360px;
    height: 300px;
    border-radius: 10px;
}

.location-img-cards__item img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.location-map {
    padding-bottom: 100px;
}
.location-map-wrap{
    width: 1160px;
    height: 402px;
}
.location-map-wrap img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.brand-info__title {
    color: var(--dark_blue);
    font-family: Karla;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.brand-info-wrap .cartridge-cards-item {
    width: 231px;
    height: 192px;
}

.brand-info {
    padding-bottom: 50px;
}

.brand-info-wrap {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.brand-info__description {
    max-width: 899px;
    white-space: pre-line;
    color: var(--purple_blue);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.catalog-search {
    padding-bottom: 50px;
}

.catalog-search__title {
    color: var(--dark_blue);
    font-family: Karla;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.catalog-search__total {
    color: var(--purple_blue);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-bold {
    font-weight: bold;
}

.catalog-search-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 50px;
}

.catalog-search-wrap .form-search {
    margin: 0;
}

.catalog-search-wrap .form-search__input {
    width: 656px;
    height: 53px;
}

.catalog-table-wrap {
    padding-bottom: 100px;
    display: flex;
}

table {
    margin: 0 auto;
    border: 1px solid #99A1AB;
    background: #FFF;
    padding: 0;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
}

th {
    height: 80px;
}

th:not(:last-child) {
    border-right: 1px solid #99A1AB;
}

.catalog-table__column_one {
    padding: 0px 63px 0px 62px;
}

.catalog-table__column_two {
    padding: 0px 106px 0px 106px;
}

.catalog-table__column_three {
    padding: 0px 133px 0px 132px;
}

.catalog-table__column_four {
    padding: 0px 35px 0px 37px;
}

td {
    border-top: 1px solid #99A1AB;
}

td:not(:last-child) {
    border-right: 1px solid #99A1AB;
}

.catalog-table__line_one, .catalog-table__line_three {
    color: var(--dark_blue);
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.catalog-table__line_two, .catalog-table__line_four {
    color: var(--dark_blue);
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

td {
    height: 80px;
}

.catalog-table__line_one {
    padding: 0px 62px 0px 63px;
}

.catalog-table__line_two {
    padding: 0px 99px 0px 100px;
}

.catalog-table__line_three {
    padding: 0px 132px 0px 133px;
}

.catalog-table__line_four {
    padding: 0px 30px 0px 29px;
}

.btn-hover:hover {
    transition: all 0.3s;
    background: var(--light_gray_blue);
}

.input-hover:hover {
    border: 1px solid var(--azure, #0085FF);
}


@media (max-width: 768px) {
    .wrap {
        max-width: 728px;
        margin: 0 auto;
        /*padding: 0 20px;*/
    }

    .menu {
        display: none;
    }

    .contacts {
        display: none;
    }

    .banner-wrap {
        margin-top: 82px;
        width: 620px;
    }

    .banner-wrap-left {
        gap: 0px;
    }

    .banner-wrap-left__title {
        font-size: 20px;
    }

    .banner-wrap-left__information {
        margin-top: 20px;
        font-size: 18px;
    }

    .banner-wrap-left__description {
        margin-top: 38px;
        font-size: 18px;
    }

    .banner-contacts {
        margin-top: 31px;
    }

    .banner-wrap-right {
        display: none;
    }

    .advantages-wrap {
        padding: 80px 0;
    }

    .advantages-cards {
        margin-top: 40px;
        flex-direction: column;
        gap: 30px;
        align-items: flex-start;
        /*justify-content: left;*/
    }

    .advantages-cards__img {
        width: 101px;
        height: 111px;
    }

    .advantages-cards__item {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: flex-start;
    }

    .advantages-cards__info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .advantages-cards__title {
        font-size: 20px;
    }

    .advantages-cards__description {
        font-size: 18px;
        max-width: 600px;
        text-align: left;
    }

    .accept-wrap {
        padding-bottom: 80px;
    }

    .accept-wrap-title {
        font-size: 26px;
    }

    .accept-approval__title, .accept-rejection__title {
        margin-bottom: 20px;
        font-size: 20px;
    }

    .accept-rejection__title {
        text-align: end;
    }

    .accept-rejection__items {
        flex-direction: row-reverse;
        text-align: end;
        align-items: center;
    }

    .accept-rejection__img {
        margin: 0 0 0 5px;
    }

    .acceptance-conditions {
        margin-top: 43px;
        /*gap: 60px;*/
    }

    .accept-approval, .accept-rejection {
        gap: 10px;
    }

    .accept-rejection__item, .accept-approval__item {
        font-size: 18px;
        width: 302px;
    }

    .accept-more a {
        font-size: 18px;
    }

    .benefit-wrap {
        padding-bottom: 80px;
    }

    .benefit-wrap__title {
        font-size: 26px;
        white-space: pre-line;
        max-width: 480px;
    }

    .benefit-cards {
        margin-top: 40px;
        gap: 30px 40px;
    }

    .benefit-cards__item {
        gap: 20px;
    }

    .benefit-cards__img {
        width: 137px;
        height: 142px;
    }

    .benefit-cards__description {
        gap: 10px;
    }

    .benefit-cards__title {
        font-size: 20px;
    }

    .benefit-cards__info {
        font-size: 18px;
    }

    .benefit-cards__info_left {
        max-width: 162px;
    }

    .benefit-cards__info_right {
        max-width: 206px;
    }

    .purchase{
        margin-bottom: 80px;
    }
    .purchase-wrap {
        padding: 80px 0;
    }

    .purchase-wrap__title {
        font-size: 26px;
    }

    .purchase-cards {
        margin-top: 40px;
    }

    .purchase-cards__img {
        width: 340px;
        height: 255px;
    }

    .purchase-cards__item {
        gap: 48px;
    }

    .purchase-cards__info {
        gap: 15px;
        width: 340px;
    }

    .purchase-cards__title {
        font-size: 20px;
        max-width: 222px;
    }

    .purchase-cards__description {
        font-size: 18px;
        max-width: 295px;
    }
    .cartridge-brands-wrap{
        padding-bottom: 80px;
    }
    .cartridge-brands-wrap__title{
        font-size: 26px;
    }
    .cartridge-cards{
        margin-top: 44px;
        justify-content: center;
    }
    .cartridge-cards-item{
        width: 152px;
        height: 145px;
    }
    .application{
        padding-bottom: 80px;
    }
    .application-form{
        gap: 40px 35px;
    }
    .application-form__info{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .application-form__title{
        font-size: 26px;
    }
    .application-form__description{
        font-size: 18px;
        max-width: 520px;
    }
    .application-form__name, .application-form__phone,
    .application-form__email, .application-form__region,
    .application-form__proposal{
        width: 306px;
        height: 60px;
        font-size: 16px;
        padding: 0px 0px 0px 10px;
    }
    .application-form__proposal{
        width: 306px;
        height: 160px;
        padding: 10px;
    }
    .application-form__file{
        width: 306px;
        height: 60px;
    }
    .application-form__proposal_left{
        text-align: center;
        padding: 19px 0 15px 12px;
        font-size: 16px;
    }
    .application-form__proposal_right{
        width: 127px;
        font-size: 20px;
        padding: 17px 25px 18px 23px;
    }
    .application-form__button{
        margin-top: 40px;
        width: 306px;
        height: 60px;
    }
    .application-form__button input{
        font-size: 20px;
    }
    .about-wrap{
        padding-bottom: 75px;
    }
    .about-wrap__info{
        margin-top: 40px;
        gap: 20px;
        font-size: 18px;
    }
    .about-wrap__info div{
        max-width: 728px;
        white-space: normal;
    }
    .rating{
        padding-bottom: 113px;
    }
    .rating-wrap__title{
        font-size: 26px;
    }
    .rating-wrap__description{
        font-size: 18px;
        width: 318px;
    }
    .prev, .next{
        width: 47px;
        height: 68px;
    }
    .slick-slide{
        width: 283px;
        margin-right: 24px;
    }
    .slick-track .slick-slide{
        height: 423px;
    }
    .slider-wrap{
        width: 591px;
    }
    .articles{
        padding-bottom: 80px;
    }
    .articles-cards{
        gap: 30px 40px;
    }
    .articles-title{
        font-size: 26px;
    }
    .articles-cards__item{
        width: 344px;
        height: 288px;
    }
    .feedback-form{
        display: flex;
        justify-content: space-between;
        /*flex-direction: column;*/
    }
    .feedback-form__info{
        max-width: 370px;
    }
    .feedback-form__title{
        font-size: 26px;
        max-width: 370px;
    }
    .feedback-form__description{
        width: 333px;
        font-size: 20px;
    }
    .feedback-form__input{
        max-width: 298px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        flex-direction: column;
    }
    .feedback-form__name,
    .feedback-form__number{
        width: 292px;
        height: 60px;
    }
    .feedback-form__button{
        width: 292px;
        height: 60px;
    }

    .footer-menu{
        display: flex;
        flex-wrap: wrap;
    }
    .footer-info{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: 290px;
    }
    .footer-line__one{
        height: 277px;
    }
    .footer-line__two{
        display: none;
    }
    .footer-navigation li,
    .footer-cartridges__navigation li{
        font-size: 18px;
    }
    .footer-navigation{
        gap: 22px 55px;
        height: 277px;
    }
    .footer-cartridges{
        width: 288px;
    }
    .footer-cartridges__navigation{
        max-width: 267px;
        gap: 22px 50px;
    }
    .footer-politics{
        display: none;
    }
    .footer-politics-phone{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 7px;
    }
    .footer-contacts{
        margin-top: 40px;
        align-items: start;
    }
    .footer-info__description{
        max-width: 182px;
        margin-top: 40px;
    }
    .footer-info__description .logo{
        /*width: 130px;*/
        /*height: 80px;*/
    }
    .footer-contacts__mail a{
        font-size: 18px;
    }

    .footer-politics-phone a {
        max-width: 269px;
        color: var(--purple_blue);
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 200%; /* 30px */
        text-decoration-line: underline;
    }

    .contacts-contact-wrap{
        margin-top: 54px;
        gap: 50px 89px;
    }
    .contacts-contact__title{
        font-size: 26px;
    }
    .contacts-contacts-item__img{
        margin-right: 5px;
    }
    .contacts-contacts-item__img{
        font-size: 20px;
    }
    .contacts-contacts-item__description{
        max-width: 177px;
        font-size: 18px;
    }
    .contacts-contacts-item__info{
        gap: 19px;
    }
    .location-img{
        padding-bottom: 40px;
    }
    .location-imt__title{
        font-size: 26px;
    }
    .location-img-cards{
        margin-top: 40px;
        gap: 30px 38px;
    }
    .location-img-cards__item{
        width: 345px;
        height: 270px;
    }

    .location-map{
        padding-bottom: 80px;
    }
    .location-map-wrap{
        width: 728px;
        height: 402px;
    }

    .article-block-wrap{
        padding-bottom: 80px;
    }
    .article-block__img{
        margin-top: 40px;
        width: 728px;
        height: 402px;
        border-radius: 10px;
    }
    .article-block__description{
        margin-top: 31px;
        font-size: 18px;
    }
    .article-block-info__heading{
        margin-top: 30px;
        font-size: 20px;
    }
    .article-block-info__description{
        margin-top: 20px;
        font-size: 18px;
    }
    .price-info{
        padding-bottom: 80px;
    }
    .price-info__title{
        font-size: 26px;
    }
    .price-info__description{
        margin-top: 30px;
        font-size: 18px;
    }

    .useful-articles__title{
        font-size: 26px;
    }
    .useful-articles__description{
        margin-top: 40px;
        font-size: 18px;
    }
    .brand-info{
        padding-bottom: 40px;
    }
    .brand-info__title{
        font-size: 26px;
    }
    .brand-info-wrap .cartridge-cards-item{
        width: 160px;
        height: 153px;
    }
    .brand-info__description{
        max-width: 530px;
        font-size: 14px;
    }
    .catalog-search{
        padding-bottom: 30px;
    }
    .catalog-search-wrap{
        display: block;
    }
    .catalog-search__total{
        margin-top: 15px;
    }

    .catalog-search-wrap .form-search__input{
        max-width: 728px;
        width: 100%;
    }
    .form-search__input input{
        font-size: 18px;
    }

    /*tbody{*/
    /*    width: 360px;*/
    /*}*/
    /*thead{*/
    /*    display: flex;*/
    /*}*/
    /*tbody{*/
    /*    !*display: flex;*!*/
    /*    flex-wrap: wrap;*/
    /*}*/
    /*tbody tr{*/
    /*    padding: 0;*/
    /*    !*max-width: 350px;*!*/
    /*    !*display: flex;*!*/
    /*    !*flex-wrap: wrap;*!*/
    /*}*/
    /*td{*/
    /*    padding: 0;*/
    /*    !*width: 135px;*!*/
    /*}*/
    /*.catalog-table__column_three,*/
    /*.catalog-table__column_four{*/
    /*    !*display: none;*!*/
    /*}*/
}








