:root {
	--dark_blue: #041D4D;
	--purple_blue: #2D4169;
	--deep_gray_blue: #4465A7;
	--light_gray_blue: #95C7EB;
	--azure: #0085FF;
	--light_blue: #A6DAFF;
	--white_blue: #D5ECFE;
	--dark_green: #015013;
	--dark_red: #5E0606;
	--background: #F8F8F8;
}

@font-face {
	font-family: 'Karla';
}

@font-face {
	font-family: 'Montserrat';
}

body {
	font-family: 'Karla', Arial, sans-serif;
}

.popup-container{
background: white;
	outline: 1px solid red;
}

.wpcf7-spinner {
	/*position: absolute;*/
}

.form-container {
	/*max-width: 447px;*/
	padding: 40px;
	border-radius: 10px;
	background: var(--white_blue, #D5ECFE);
}

.form-container .feedback-form__description {
	margin-top: 15px;
}

.form-container .feedback-form__input {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	gap: 30px;
}

.form-container {

}

html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul, ul li {
	list-style: none;
}

a, a:link, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
	font-family: 'Montserrat', sans-serif !important;
}

input,
textarea,
button,
select {
	font-family: 'Montserrat', sans-serif;
	font-size: inherit;
	cursor: pointer;
	color: inherit;
	border: none;
	background-color: transparent;
}

input[type="file"] {
	display: none;
}

textarea {
	resize: none
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	margin: 0;
	-webkit-appearance: none;
}

input[type=number] {
	-moz-appearance: textfield;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
	display: inline-block;
	cursor: pointer;
	background: none;
	background-color: transparent;
	box-shadow: none;
}

input:focus, input:active,
button:focus, button:active {
	outline: none;
}

.heading {
	font-family: 'Karla', sans-serif;
	font-size: 32px;
	font-weight: 700;
	font-style: normal;
	line-height: normal;
	color: var(--dark_blue);
}

.button-font {
	font-family: 'Karla', sans-serif;
	font-size: 24px;
	font-weight: 700;
	font-style: normal;
	line-height: normal;
	text-align: center;
	color: var(--dark_blue);
}

.button-font input {
	font-family: 'Karla', sans-serif;
	font-size: 24px;
	font-weight: 700;
	font-style: normal;
	line-height: normal;
	text-align: center;
	color: var(--dark_blue);
}

.menu-font {
	font-family: 'Karla', sans-serif;
	font-size: 18px;
	font-weight: 700;
	font-style: normal;
	line-height: normal;
	color: var(--dark_blue);
}

.menu-font a {
	font-family: 'Karla', sans-serif;
	font-size: 18px;
	font-weight: 700;
	font-style: normal;
	line-height: normal;
	color: var(--dark_blue);
}

.menu-font a:hover {
	cursor: pointer;
	color: var(--deep_gray_blue, #4465A7);
}

.subtitle-font {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 700;
	font-style: normal;
	line-height: normal;
	color: var(--dark_blue);
}


.text-font {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	color: var(--purple_blue);
}

.text-font-two {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	color: var(--purple_blue);
}

.footer-font {
	font-family: 'Karla', sans-serif;
	font-size: 20px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	color: var(--dark_blue);
}

.footer-font-title {
	font-family: 'Karla', sans-serif;
	font-size: 20px;
	font-weight: 700;
	font-style: normal;
	line-height: normal;
	color: var(--dark_blue);
}

.footer-font a {
	font-family: 'Karla', sans-serif;
	font-size: 20px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	color: var(--dark_blue);
}

.footer-font a:hover {
	cursor: pointer;
	color: var(--deep_gray_blue, #4465A7);
}

.contacts a:hover {
	cursor: pointer;
	color: var(--deep_gray_blue, #4465A7);
}

.footer-contacts a:hover {
	cursor: pointer;
	color: var(--deep_gray_blue, #4465A7);
}

.footer-politics a:hover {
	cursor: pointer;
	color: var(--deep_gray_blue, #4465A7);
}

.footer-politics-phone a:hover {
	cursor: pointer;
	color: var(--deep_gray_blue, #4465A7);
}

.politic-font {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 500;
	font-style: normal;
	line-height: 200%;
	color: var(--purple_blue);
	text-decoration-line: underline;
}

.input-font {

}

.margin-bottom {
	margin-bottom: 100px;
}

.wrap {
	max-width: 1160px;
	margin: 0 auto;
}

header {
	position: sticky;
	z-index: 1000;
	top: 0;
	width: 100%;
	border-bottom: 1px solid #8A97B3;
	background-color: var(--background);
}

.header-wrap {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding: 17px 0;
	gap: 15px;
}


.logo {
	width: 110px;
	height: 62px;
}


.logo img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.menu {
	position: relative;
}


.menu ul {
	display: flex;
	align-items: center;
	flex-shrink: 0;
	gap: 15px;
}

.menu li {
	position: relative;
}

.menu .sub-menu {
	display: none;
}

.menu li:hover .sub-menu {
	z-index: 1;
	display: flex;
	padding: 10px;
	border: 1px solid #8A97B3;
	border-radius: 10px;
	background: #FFF;
	/*bottom: -40px;*/
}

.sub-menu {
	position: absolute;
	top: 20px;
	flex-direction: column;
	padding: 10px 10px 7px 10px;
}

.sub-menu a {
	font-family: 'Karla', sans-serif;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	display: inline-block;
	width: 100%;
	text-align: left;
	color: var(--dark_blue);
	border-bottom: 1px solid #8A97B3;;
}

.sub-menu .menu-item {
	width: 100%;
}

.sub-menu a:hover .sub-menu li {
	background: var(--light_blue);
}

.menu li:last-child {
	white-space: pre-line;
}

.menu__item_drop-down {
	display: block;
	cursor: pointer;
}

.menu__item_drop-down a {
	font-family: 'Karla', sans-serif;
	font-size: 18px;
	font-weight: 700;
	font-style: normal;
	line-height: normal;
	display: flex;
	color: var(--dark_blue);
}

.menu__item_drop-down ul {
	top: 100%;
	left: 0;
	display: flex;
	flex-direction: column;
	width: 182px;
	transition: all 5s;
	border: 1px solid #8A97B3;
	/*position: absolute;*/
	border-radius: 10px;
	background: #FFF;
	gap: 0px;
}


.menu__item_drop-down_block-close {
	position: absolute;
	display: none;
	padding-top: 10px;
}


.menu__item_drop-down:hover .menu__item_drop-down_block-close {
	display: flex;
}


.menu__item_drop-down li:not(:last-child) {
	border-bottom: 1px solid #8A97B3;
}

.menu__item_drop-down li {
	padding: 10px 10px 10px 10px;
}

.menu__item_drop-down li:hover {
	background: var(--light_blue, #A6DAFF);
}

.menu__item_drop-down li:hover:first-child {
	border-radius: 10px 10px 0 0;
}

.menu__item_drop-down li:hover:last-child {
	border-radius: 0 0 10px 10px;
}

.menu__item_drop-down a {
}

.menu__item_drop-down img {
	margin-left: 5px;
}

.form-search {
	position: relative;
	display: flex;
	flex-grow: 1;
	height: 53px;
}

.form-search-none input {
	display: none;
}


.form-search__input {
	display: flex;
	flex-grow: 1;
	height: 53px;
	padding: 10px 20px;
	transition: all 0.2s ease;
	border: 1px solid #8194A6;
	border-radius: 10px;
	background: #FFF;

}

.form-search__result {
	position: absolute;
	top: 60px;
	display: none;
	width: 100%;
	border: 1px solid #8A97B3;
	border-radius: 10px;
	background: #FFF;
}

.form-catalog__result {
	position: absolute;
	top: 60px;
	display: none;
	width: 100%;
	border: 1px solid #8A97B3;
	border-radius: 10px;
	background: #FFF;
}

.search-catalog-block {
	display: block;
	overflow: auto;
	max-height: 340px;
}

.search-block {
	display: block;
	overflow: auto;
	max-height: 344px;
}

.ii-search-result__items {
	display: flex;
	flex-direction: column;
	/*gap: 10px;*/
}

.ii-search-result__items a {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	color: var(--dark_blue, #041D4D);
}

.ii-search-result__items p {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	color: #46587B;
	/*padding-right: 100px;*/
}

.ii-search-result__no-results {
	padding: 10px;
}

.ii-search-result__no-results p {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	color: var(--dark_blue);
}

.search-item {
	display: flex;
	overflow: auto;
	justify-content: space-between;
	padding: 10px;
}

.pum-container {
	max-width: 527px;
}

.pum-container.pum-responsive {
	max-width: 527px !important;
}

.search-item {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	color: var(--dark_blue);
}

.search-item:not(:last-child) {
	justify-content: space-between;
	border-bottom: 1px solid #8A97B3;
}

.search-item:hover {
	background: var(--light_blue);
}

.search-item:hover:first-child {
	border-radius: 10px 10px 0 0;
}

.search-item:hover:last-child {
	border-radius: 0 0 10px 10px;
}

.menu-block {
	display: none;
}


.form-search__img {
	position: absolute;
	top: 13px;
	right: 20px;
	width: 24px;
	height: 25px;
}

.form-search__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.contacts {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	gap: 10px;
}

.contacts__number {
	display: flex;
}


.contacts__img {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

.contacts__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.contacts__button a {
	text-align: center;
}

.contacts__button {
	text-transform: uppercase;
	text-decoration-line: underline;
}

.contacts-icons {
	display: flex;
	gap: 15px;
}

.contacts-icons__item {
	width: 30px;
	height: 30px;
}

.contacts-icons__item img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.burger-wrap {
	display: none;
}

.burger-btn {
	z-index: 99;

}

.open {
	width: 50px;
	height: 40px;
}

.close {
	width: 32px;
	height: 32px;
}

.close {
	display: none;
}

.burger-btn img {
	width: 100%;
	width: 100%;
	object-fit: contain;
}

.burger-menu {
	position: absolute;
	z-index: -1;
	top: 0;
	right: -10px;
	display: none;
	width: 40%;
	padding: 85px 20px;
	background: white;
}

.burger-wrap .menu {
	display: block;
	width: 100%;
	max-width: unset;
}

.burger-wrap-active .burger-menu {
	display: flex;
}

.burger-wrap-active .open {
	display: none;
}

.burger-wrap-active .close {
	display: block;
}

.burger-menu ul {
	display: flex;
	flex-direction: column;
}

.banner {
	margin-bottom: 100px;
}

.banner-wrap {
	display: flex;
	justify-content: space-between;
	max-width: 1040px;
	margin: 0 auto;
	margin-top: 100px;
	padding: 40px;
	border-radius: 10px;
	background-color: var(--white_blue);
}

.banner-wrap-left {
	display: flex;
	flex-direction: column;
	/*gap: 20px;*/
}

.banner-wrap-left__title {
	font-family: 'Karla', sans-serif;
	font-size: 24px;
	font-weight: 700;
	font-style: normal;
	line-height: 30px;
	max-width: 485px;
	color: var(--dark_blue);
}

.banner-wrap-left__information {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 700;
	font-style: normal;
	line-height: 24px;
	max-width: 420px;
	margin-top: 17px;
	color: var(--purple_blue);
}

.banner-wrap-left__description {
	display: flex;
	margin-top: 17px;
	gap: 10px;
}

.banner-wrap-left__img {
	width: 78px;
	height: 71px;
}

.banner-wrap-left__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.banner-wrap-left__description-title {
	max-width: 345px;
}

.banner-wrap-right {
	width: 338px;
	height: 320px;
}

.banner-wrap-right img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.banner-contacts {
	display: flex;
	margin-top: 15px;
	/*justify-content: space-between;*/
	gap: 20px;
}

.banner-contacts .contacts-icons__item {
	width: 62px;
	height: 62px;
}

.banner-contacts .contacts-icons__item img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.banner-contacts .contacts-icons {
	display: flex;
	gap: 20px;
}

.banner-contacts__phone {
	display: flex;
	align-items: center;
	flex-direction: column;

}

.banner-contacts__buttom {
	padding: 9.5px 28px;
	text-align: center;
	color: var(--dark_blue);
	border-radius: 10px;
	background: var(--light_blue);
}

.banner-contacts__number {
	display: flex;
	align-items: center;
	margin-top: 2px;
}

.banner-contacts__number a {
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
	color: var(--purple_blue);
}

.advantages {
	margin-bottom: 100px;
}

.advantages-wrap__title {
}

.advantages-cards {
	display: flex;
	max-width: 1000px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	/*justify-content: space-between;*/
	gap: 40px;
}

.advantages-cards__img {
	width: 140px;
	height: 136px;
}

.benefit-cards__item:nth-child(even) .benefit-cards__img {
	order: 2;
}

.advantages-cards__img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.advantages-cards__item {
	/*max-width: 260px;*/
	display: flex;
	align-items: center;
	flex-direction: column;
}

.advantages-cards__info {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.advantages-cards__title {
	display: flex;
	justify-content: center;
	text-align: center;
}

.advantages-cards__description {
	display: flex;
	flex-shrink: 2;
	justify-content: center;
	margin-top: 10px;
	text-align: center;
	white-space: pre-line;
}

.accept {
	margin-bottom: 100px;
}


.acceptance-conditions {
	display: flex;
	justify-content: space-between;
	margin-top: 49px;
	/*gap: 280px;*/
}

.accept-approval, .accept-rejection {
	display: flex;
	flex-direction: column;
	gap: 24px;
}


.accept-approval__title {
	margin-bottom: 7px;
	color: var(--dark_green);
}

.accept-rejection__title {
	margin-bottom: 6px;
	color: var(--dark_red);
}

.accept-approval__items, .accept-rejection__items {
	display: flex;
}

.accept-approval__img {
	width: 22px;
	height: 27px;
	margin-right: 9px;
}

.accept-approval__img img, .accept-rejection__img img {
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.accept-rejection__img {
	width: 33.5px;
	height: 33.5px;
	margin-right: 5px;
}

.accept-rejection__item {
	text-decoration: line-through;
}

.accept-rejection__item, .accept-approval__item {
	max-width: 430px;
	text-align: left;
}

.accept-more {
	margin-top: 30px;
}

.accept-more a {
	font-weight: 600;
	text-decoration-line: underline;
}


.benefit {
	margin-bottom: 100px;
}


.benefit-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 50px;
	gap: 40px 0px;
}

.benefit-cards__item {
	display: flex;
	align-items: flex-end;
	gap: 40px;
}

.benefit-cards__img {
	display: flex;
	flex-shrink: 0;
	width: 160px;
	height: 142px;
}

.benefit-cards__img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.benefit-cards__title {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 700;
	font-style: normal;
	line-height: normal;
	color: var(--purple_blue);
}

.benefit-cards__description {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.benefit-cards__info {
	display: flex;
	max-width: 330px;
}

.benefit-cards__item:nth-child(odd) .benefit-cards__info {
	text-align: left;
}


.benefit-cards__item:nth-child(even) p {
	text-align: right;
}

.purchase {
	margin-bottom: 100px;
	background: var(--white_blue);
}

.purchase-wrap {
	padding: 100px 0px;
}


.purchase-cards {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-width: 840px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	gap: 40px;
}

.purchase-cards__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 45px;
	/*white-space: pre-line;*/
}

.purchase-cards__item:nth-child(even) {
	display: flex;
	flex-direction: row-reverse;
	justify-content: right;
	text-align: right;
	gap: 45px;
}

.purchase-cards__img {
	position: relative;
	flex-shrink: 0;
	width: 400px;
	height: 315px;
}


.purchase-cards__item .purchase-cards__img[data-count]:after {
	font-family: 'Montserrat', sans-serif;
	font-size: 64px;
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 123px;
	height: 98px;
	content: attr(data-count);
	color: var(--dark_blue);
	border-radius: 10px;
	background: #D7D7D7;
}

.purchase-cards__item:nth-child(even) .purchase-cards__img[data-count]:after {
	left: calc(100% - 123px);
}


.purchase-cards__img img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	object-fit: cover;
}

.purchase-cards__info {
	display: flex;
	flex-direction: column;
	flex-shrink: 2;
	gap: 10px;
}


.purchase-cards__title {
	font-weight: 500;
}

.purchase-cards__description {
}

.cartridge-brands {
	margin-bottom: 100px;
}


.cartridge-cards {
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
	gap: 40px;
}

.cartridge-cards-item:hover {
	border-radius: 10px;
	background: linear-gradient(0deg, rgba(4, 29, 77, 0.20) 0%, rgba(4, 29, 77, 0.00) 100%), #FFF;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cartridge-cards-item {
	width: 199px;
	height: 173px;
	padding: 13px;
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cartridge-cards-item a {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.cartridge-cards-item img {
	display: block;
	width: 100%;
	height: 100%;
	vertical-align: baseline;
	object-fit: contain;
	object-position: center;
}

.application {
	margin-bottom: 100px;
}

.application-wrap {
	padding: 40px;
	border-radius: 10px;
	background: var(--white_blue);
}

.application-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.application-form__info {
	display: flex;
	gap: 20px;
}

.application-form__title {
}

.application-form__description {
	display: flex;
	align-items: flex-end;
	text-align: left;
}

.application-form-left, .application-form-right {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 525px;
	margin-top: 35px;
	gap: 30px;
}

.application-form-left input, .application-form-right input {
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	color: var(--dark_blue, #041D4D);
}

.application-form__name, .application-form__phone,
.application-form__email, .application-form__region,
.application-form__proposal {
	font-family: Lohit Devanagari;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	line-height: normal;
	width: 100%;
	height: 70px;
	padding: 0px 0px 0px 18px;
	color: #A29C9C;
	border: 1px solid #A29C9C;
	border-radius: 10px;
	background: #E9E9E9;
}

.application-form__proposal {
	width: 100%;
	height: 188px;
	padding-top: 18px;
	vertical-align: top;
}

input::placeholder, textarea::placeholder {
	font-family: Lohit Devanagari;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	line-height: normal;
	color: #A29C9C;
}

.application-form__file {
	display: flex;
	justify-content: space-between;
	width: 525px;
	height: 70px;
	cursor: pointer;
	text-align: center;
	border: 1px solid #A29C9C;
	border-radius: 10px;
	background: #E9E9E9;
}

.application-form__proposal_left {
	font-family: Lohit Devanagari;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	line-height: normal;
	padding: 18px 0 0 18px;
	color: #A29C9C;
}

.application-form__proposal_right {
	font-family: 'Karla', sans-serif;
	font-size: 24px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	width: 225px;
	padding: 19px 65px 0 64px;
	text-align: center;
	color: var(--dark_blue);
	border-radius: 8px;
	background: var(--light_blue);
}

.application-form__button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 88px;
	cursor: pointer;
	text-align: center;
	color: var(--dark_blue);
	border-radius: 10px;
	background: var(--light_blue);
}

.application-form__button input {
	height: 100%;
	text-align: center;
	color: var(--dark_blue);
}

.about-wrap {
	margin-bottom: 100px;
}

.about-wrap__info {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	gap: 19px;
}

.about-wrap__info p {
	max-width: 1110px;
	white-space: pre-line;
}


.rating {
	margin-bottom: 100px;
}

.rating-wrap {
	display: flex;
	justify-content: space-between;
}

.rating-wrap__info {
	display: flex;
	align-items: center;
}

.rating-wrap__img {
	width: 19px;
	height: 23px;
	margin-right: 3px;
}

.rating-wrap__img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.rating-wrap__description a {
	font-weight: 700;
	text-decoration-line: underline;
}

.rating-slider {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	/*gap: 20px;*/
	margin-top: 50px;
}

.rating-slider__items {
	display: flex;
	gap: 50px;
}

.prev, .next {
	position: static;
	display: flex;
	justify-content: center;
	width: 60px;
	height: 68px;
	padding: 15px 16px;
	cursor: pointer;
	border-radius: 10px;
	background: var(--light_blue);
	background-repeat: no-repeat;
	background-position: center;
}

.prev {
	background-image: url("../images/icons/prev.svg");
}

.next {
	background-image: url("../images/icons/next.svg");
}

.rating-slider-arrow {
	position: absolute;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.prev img, .next img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.rating-slider__item {
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 349px;
	min-height: 349px;
	padding: 23px 25px 25px 25px;
	/*gap: 20px;*/
	border-radius: 10px;
	background: #D9D9D9;
}

.slider-wrap {
	width: 1000px;
	width: calc(100% - 160px);
	margin: 0 auto;
}

.slick-track {
	display: flex;
	width: 1000px;
}

.slick-initialized .slick-slide {
	display: flex;
}

.slick-track .slick-slide {
	display: flex;
	height: 349px;

}

.slick-slide {
	width: 300px;
	margin-right: 50px;

}

.slick-arrow.slick-hidden {
	display: flex;
}

.rating-slider__title {
	font-size: 20px;
	margin-top: 17px;
}

.rating-slider__description {
	margin-top: 18px;
}

.articles {
	margin-bottom: 100px;
}

.articles-title {
	margin-bottom: 50px;
}

.articles-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 40px;
}

.articles-cards__item {
	position: relative;
	width: 359px;
	height: 288px;
	border-radius: 10px;
}

.articles-cards__item a {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.articles-cards__item img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	object-fit: cover;
}

.articles-cards__opacity {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background: rgb(4, 29, 77);
	background: linear-gradient(1deg, rgba(4, 29, 77, 1) 0%, rgba(4, 29, 77, 0.4908088235294118) 67%, rgba(4, 29, 77, 0) 98%);
}

.articles-cards__item:hover .articles-cards__opacity {
	background: linear-gradient(1deg, #575757 0%, #4C4C4C 0.01%, rgba(76, 76, 76, 0.53) 48.54%, rgba(76, 76, 76, 0.00) 100%);
}

.articles-cards__info {
	/*z-index: 2;*/
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
	padding: 25px;
	gap: 10px;
}

.articles-cards__title {
	font-size: 20px;
	display: flex;
	align-items: center;
	color: #FFFCFC;
}


.articles-cards__description {
	font-size: 18px;
	color: #FFFCFC;
}

.feedback {
	margin-bottom: 100px;
}


.feedback-form {
	display: flex;
	flex-wrap: wrap;
	/*gap: 15px 29px;*/
}

.feedback-form__input {
	display: flex;
	width: 100%;
	margin-top: 15px;
	gap: 29px;
}

.feedback-form__input div {
	width: 100%;
}

.feedback-form__description {
	font-size: 24px;
	max-width: 1120px;
	margin-top: 50px;
}

.feedback-form__name, .feedback-form__number {
	width: 100%;
	height: 70px;
	padding-left: 13px;
	border: 1px solid #8194A6;
	border-radius: 10px;
	background: #E9E9E9;
}

input {
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	color: var(--dark_blue);
}

.feedback-form__button {
	width: 100%;
	height: 70px;
	padding: 21px 0;
	cursor: pointer;
	text-align: center;
	border-radius: 10px;
	background: var(--light_blue);
}

footer {
	padding: 40px 0px;
	background: var(--light_blue);
}

.footer-contacts__mail-img {
	display: none;
}

.footer-menu {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.footer-line__one,
.footer-line__two {
	width: 1px;
	height: 387px;
	background: #8194A6;
}

.footer-navigation {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 245px;
	gap: 18px 80px;
}

.footer-navigation li {
	max-width: 99px;
}

.footer-politics-phone {
	display: none;
}

.footer-politics {
	display: flex;
	flex-direction: column;
	margin-top: 75px;
	gap: 5px;
}

.footer-politics a {
	max-width: 269px;
	text-decoration-line: underline;
}

.footer-cartridges {
	width: 380px;
}


.footer-cartridges__navigation {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 245px;
	margin-top: 19px;
	gap: 18px 100px;
}


.footer-info {
	width: 202px;
}

.footer-info__description {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}

.footer-info__description .logo {
	margin: 0;
}

.footer-info__title, .footer-info__address, .footer-info__mode {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	max-width: 145px;
	text-align: right;
	white-space: pre-line;
	color: var(--purple_blue);
}

.footer-info__title {
	display: flex;
	max-width: 171px;
	margin-top: 20px;
}

.footer-info__title_img {
	flex-shrink: 0;
	width: 34px;
	height: 34px;
}

.footer-info__title_img img {
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.footer-info__address {
	margin-top: 20px;
}

.footer-info__mode {
	margin-top: 5px;
}

.footer-contacts {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	margin-top: 20px;
}

.footer-contacts .contacts__button {
	margin-top: 10px;
}

.footer-contacts .contacts-icons {
	margin-top: 20px;
}

.footer-contacts__mail {
	margin-top: 20px;
}

.footer-contacts__mail a {
	text-decoration-line: underline;
}

.pages-name {
	display: flex;
	margin: 100px 0px 50px 0px;
}

.pages-name a {
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 400;
	font-style: normal;
	line-height: normal;
	text-align: center;
	text-transform: capitalize;
	color: var(--purple_blue);
}


.price-info__description {
	margin-top: 50px;
}

.useful-articles {
	padding-bottom: 30px;
}


.useful-articles__description {
	margin-top: 30px;
	white-space: pre-line;
}


.article-block__img {
	width: 100%;
	height: 402px;
	margin-top: 75px;
}

.article-block__img img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	object-fit: cover;
}


.article-block-info h2 {
	font-family: 'Karla', sans-serif;
	font-size: 24px;
	font-weight: 700;
	font-style: normal;
	line-height: normal;
	max-width: 725px;
	margin-top: 40px;
	white-space: pre-line;
	color: var(--dark_blue);
}

.article-block-info p {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	margin-top: 25px;
	white-space: pre-line;
	color: var(--dark_blue);
}


.contacts-contact-wrap {
	display: flex;
	flex-wrap: wrap;
	/*justify-content: space-between;*/
	margin-top: 50px;
	gap: 25px 60px;
}


.contacts-contacts-item {
	display: flex;
	justify-content: space-between;
}

.contacts-contacts-item__img {
	width: 25px;
	height: 25px;
	margin-right: 12px;
}

.contacts-contacts-item__img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.contacts-contacts-item__info {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.contacts-contacts-item__title {
	display: flex;
}

.contacts-contacts-item__description {
	max-width: 480px;
	padding-left: 32px;
}

.contacts-contact-icons .contacts-icons__item {
	width: 69px;
	height: 69px;
}

.contacts-contact-icons .contacts-icons {
	gap: 30px;
}

.contacts-icons__item:hover {
	opacity: 50%;
}

.location-img {
	padding-bottom: 50px;
}


.location-img-cards {
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
	gap: 40px;
}

.location-img-cards__item {
	width: 360px;
	height: 300px;
	border-radius: 10px;
}

.location-img-cards__item img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	object-fit: contain;
}


.location-map-wrap {
	width: 1160px;
	height: 402px;
}

.location-map-wrap img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	object-fit: contain;
}


.brand-info-wrap .cartridge-cards-item {
	flex-shrink: 0;
	width: 231px;
	height: 192px;
}

.brand-info {
	padding-bottom: 50px;
}

.brand-info-wrap {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
	gap: 30px;
}

.brand-info__description {
}

.catalog-search {
	padding-bottom: 50px;
}

tbody {
	/*max-height: 800px;*/
	/*overflow: scroll;*/
}

.catalog-search-total {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}


.text-bold {
	font-weight: bold;
}

.catalog-search__title {
	text-align: left;
}

.search-catalog {
	position: relative;
	display: flex;
	flex-grow: 1;
	margin-top: 13px;
}

.catalog-search__input {
	display: flex;
	flex-grow: 1;
	height: 53px;
	padding: 10px 20px;
	transition: all 0.2s ease;
	border: 1px solid #8194A6;
	border-radius: 10px;
	background: #FFF;
}

.catalog-search__img {
	position: absolute;
	top: 13px;
	right: 12px;
	width: 24px;
	height: 25px;
}

.catalog-search__img img {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

.catalog-wrap {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}

.catalog-table {
	display: flex;
	flex-direction: column;
}

.catalog__price {
	overflow: hidden;
	border: 1px solid #99A1AB;
	border-radius: 10px;
	background: #FFF;
}

.catalog-table__one {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	border-spacing: 0;
	border-collapse: separate;
	border: none;
}

.catalog-table__wrap {
	overflow-y: auto;
	max-height: 400px;
}


.catalog-table__one th:not(:last-child) {
	border-right: 1px solid #99A1AB;
}

.catalog-table__header {
	width: 100%;
}

.catalog-table__header th {
	width: 50%;
	padding: 10px 0;
}

.catalog-table__one td {
	width: 50%;
	padding: 10px 0;

	border-top: 1px solid #99A1AB;
}

.catalog-table__one td:not(:last-child) {
	border-right: 1px solid #99A1AB;
}

.catalog-table__line_one,
.catalog-table__line_two {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	text-align: center;
	color: var(--dark_blue);
}

.catalog-table__one tr {
	cursor: pointer;
	transition: all 0.2s;
}

.catalog-table__one tr:hover {
	border-right: none;
	background: var(--light_blue);
}

.catalog-table__one tr:hover td {
	border-right: none;
}


.catalog-table__line_two {
	font-size: 24px;
	font-weight: 600;
}

.btn-hover:hover {
	transition: all 0.3s;
	background-color: var(--light_gray_blue);
}

.input-hover:hover {
	border: 1px solid var(--azure, #0085FF);
}

textarea {
	outline: none;
}

.catalog-contact {
	height: 300px;
	margin-top: 95px;
	padding: 30px;
	border-radius: 10px;
	background: var(--white_blue, #D5ECFE);
}


.catalog__col-price {
	flex: 1 1 auto;
}

.catalog__col-sibebar {
	flex: 0 0 650px;
}

.catalog-contact_title {
	text-align: right;
}

.catalog-contact .contacts-icons {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.catalog-contact-wrap {
	display: flex;
	/*gap: 10px 50px;*/
	align-items: flex-end;
	justify-content: space-between;
	margin-top: 40px;
	/*flex-wrap: wrap;*/
}

.catalog-contact_column-one {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}

.catalog-contact-wrap .contacts-icons__item {
	width: 64px;
	height: 64px;
}

.catalog-contact-wrap .contacts__number {
	margin-top: 25px
}

.catalog-contact-wrap .contacts__button {
	margin-top: 10px;
}

.catalog-contact-wrap .contacts-contacts-item {
	max-width: 200px;
	margin-top: 0;
	text-align: right;
}

.catalog-contact-wrap .contacts-contacts-item__title {
	justify-content: flex-end;
}

.catalog-contact-wrap .contacts-contacts-item__description {
	/*margin-top: 10px;*/
	padding: 0;
}

.catalog-contact_column-two {
	display: flex;
	flex-direction: column;
	gap: 10px;
}